---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-5BksZlP5q68LcENobmVlyd5M3RbIrXwFD6bVemO1jUy74IUOmVrEsm3xZg9xaI6E"
      crossorigin="anonymous"
    />
    <title>My Astro Project</title>
  </head>
  <body>
    <slot />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12WKN3L6rnbBe6xTlBi9ilr2CVPmpnS5sFvF0jF0lgB5U6z2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
