---

---

<style>
  html,
  body {
    background-color: #c8c6c6;
  }
  h2 {
    justify-self: center;
    
  }
</style>

<html lang="es">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/css/uikit.min.css"
    />
  </head>

  <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="../../public/videos/3.jpg" uk-img>
    <h1>Background Image</h1>
  </div>
  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
    uk-grid
  >
    <div class="uk-card-media-left uk-cover-container">
      <img src="../../public/videos/2.webp" uk-cover
      ></img>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Yuto Horigome</h3>
        <p>
          Yuto Horigome es un deportista japonés que compite en skateboarding,
          en la modalidad de calle. Participó en los Juegos Olímpicos de Tokio
          2020 y Juegos Olímpicos de París 2024 obteniendo la medalla de oro en
          la prueba individual en las dos ediciones
        </p>
      </div>
    </div>
  </div>

  <div
    class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
    uk-grid
  >
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      <img src="../../public/videos/1.jpeg" uk-cover
      ></img>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Andy Anderson</h3>
        <p>
          Andy Anderson es un skater profesional canadiense. Anderson es mejor
          conocido por su estilo único, que combina trucos clásicos de las
          primeras décadas del skateboarding con técnicas más modernas.
        </p>
      </div>
    </div>
  </div>

  <hr class="uk-divider-icon" />


  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit.min.js"
  ></script>
</html>
