---
import Layout from '../layouts/Layout.astro';
import Cabecera from '../components/Cabecera.astro';
import Footer from '../components/Footer.astro';
import Tiendas from'../components/Tienda.astro';
---  

<Layout title="Tienda de Skate">
  <main>
    <Cabecera />
    <Tiendas />
    <Footer />
  </main>
</Layout>

<style>
  main {
    margin: 0;
  }
</style>

